.pi/todos/
.DS_Store
AGENTS.md
pre-plan.md
package-lock.json
node_modules/
.fallow/
.codegraph
.pi-lens
.serena
context.md
.pi/*
!.pi/pmti/
!.pi/pmti/project/
!.pi/pmti/project/**
!.pi/pmti/milestones/
!.pi/pmti/milestones/**
.pi/pmti/tasks/
